.k-upload{
  .el-upload{
    position: relative;
    cursor: pointer;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dashed #eee;
  }
  img{
    width: 100%;
    height: 100%;
  }
  &_del{
    cursor: pointer;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.2);
    em{
      color: white;
    }
  }
}
.k-input{
  border-style: solid;
  padding: 5px 10px;
}
.k-dialog{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.3);
  width: 100%;
  height: 100%;
  z-index: 5000;
  &__close{
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
    font-size: 0.5rem;
  }
}
.videodiv{
  border-radius: 1rem;
  overflow: hidden;
  .video{}
}
