.k-upload{
  .el-upload{
    position: relative;
    cursor: pointer;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dashed #eee;
  }
  img{
    width: 100%;
    height: 100%;
  }
  &_del{
    cursor: pointer;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.2);
    em{
      color: white;
    }
  }
}
